xslt_demo/src/main/resources/wsdl/Artical.wsdl

<wsdl:definitions
    
     targetNamespace="https://medium.com/article"
     xmlns:tns="https://medium.com/article"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:sch="https://medium.com/article"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://medium.com/article">
            <xsd:element name="getArticleRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getArticleResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="article" type="tns:article"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="article">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:string"/>
                    <xsd:element name="name" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getArticleRequest">
        <wsdl:part name="getArticleRequest" element="tns:getArticleRequest"/>
    </wsdl:message>
    <wsdl:message name="getArticleResponse">
        <wsdl:part name="getArticleResponse" element="tns:getArticleResponse"/>
    </wsdl:message>
    <wsdl:portType name="ArticlePort">
        <wsdl:operation name="getArticle">
            <wsdl:input name="getArticleRequest" message="tns:getArticleRequest"/>
            <wsdl:output name="getArticleResponse" message="tns:getArticleResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ArticlePortSoap11" type="tns:ArticlePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getArticle">
            <soap:operation soapAction=""/>
            <wsdl:input name="getArticleRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getArticleResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ArticlePortService">
        <wsdl:port name="ArticlePortSoap11" binding="tns:ArticlePortSoap11">
            <soap:address location="/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
